<style>
    .colslist .wraper {
        margin: 30px 20px 0;
    }

    .colslist .column .desc {
        height: 34px;
        line-height: 17px;
        overflow: hidden;
    }

    .colslist .layui-btn {
        width: 100px;
    }

    .colslist .submit {
        padding: 25px 0 25px 0 !important;
        border-top: 1px #ddd solid;
    }

    .colslist form {
        border-bottom: 1px #f1f1f1 solid;
    }

    .colslist form input[type="button"] {
        width: auto;
    }

    .colslist .layui-form li.disabled {
        opacity: 0.3;
    }

    .layui-form-select dl dd.layui-this {
        background-color: #0d6fb8;
    }
</style>

<div class="colslist">
    <div class="ml20 mr20 mt10">
        <form class="uni-flex uni-row f-12 pb20 layui-form" id="formSearch">
            <div class="uni-flex uni-row mr20 vertical-middle">
                <label>分类：</label>
                <select name="cate_id">
                    <option value="">{$lang.select_pls}</option>
                    {html_options options=$gcategories}
                </select>
            </div>
            <div class="mr10">
                <label>关键词：</label>
                <input type="text" name="keyword" value="{$smarty.get.keyword|escape}" />
            </div>
            <p>
                <input type="button" class="layui-btn layui-bg-blue layui-btn-sm" onclick="showPage(1)" value="搜索">
            </p>
        </form>
    </div>
    <div class="wraper clearfix">
        <ul class="column J_List layui-form"></ul>
        <ul class="template hidden">
            <li class="uni-flex uni-row mb20 [1]">
                <p class="checked pt20 relative"><input lay-skin="primary" lay-filter="filter" type="checkbox"
                        value="[2]"><span class="absolute f-red bgf pt10 f-12 [3]" style="left: -2px;">失效</span></p>
                <p class="image">

                    <img width="60" height="60" srctemp="[4]">
                </p>
                <div class="extra width-surplus ml20">
                    <p class="desc f-13">[5]</p>
                    <p class="mt10"><span class="f-red">[6]</span> <del class="f-gray ml5">[7]</del></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="mt20 clearfix center mb20 J_Page f-12">{$pagination}</div>
    <div class="submit">
        <input type="button" id="cancel_button" class="layui-btn layui-btn-primary layui-border-blue" value="关闭" />
        <input type="submit" id="gs_submit" class="layui-btn layui-btn-normal" value="{$lang.confirm}" />
    </div>
</div>
<script>
    // 定义全局变量，以确保翻页后能保留选中状态
    // 不兼容关闭弹窗后，重新打开弹窗依然成选中状态
    var TEMP = [];
    $(function () {
        $('#gs_submit').click(function () {
            var callback = "{$smarty.get.callback|escape}";
            if (callback.length > 0) {
                eval(callback + '("goods", ' + JSON.stringify(TEMP) + ')');
            }
            DialogManager.close('goods');
        });

        $('#cancel_button').click(function () {
            DialogManager.close('goods');
        });

        showPage(1);
    });

    function showPage(page) {
        $.post(url(['gselector/limitbuy', null, BACK_URL]), Object.assign({ page: page }, $("#formSearch").serializeJson()), function (data) {
            if (data.done) {
                var html = '';
                $.each(data.retval.list, function (i, item) {
                    var status = (item.promotion.status == 'going' || item.promotion.status == 'waiting') ? true : false;
                    html += sprintf($('.template').html().replace('srctemp', 'src'), status ? '' : 'disabled', item.goods_id, status ? 'hidden' : '', url_format(item.default_image), item.goods_name, price_format(item.promotion.price), price_format(item.price));
                });
                $('.J_List').html(html || '<p class="center">没有相关商品!</p>');

                if (html) {
                    $.each(TEMP, function (i, item) {
                        $('.J_List').find('input[value="' + item + '"]').prop('checked', true);
                    });

                    layui.use('form', function () {
                        var form = layui.form;

                        form.on('checkbox(filter)', function (data) {
                            if (data.elem.checked) {
                                TEMP.push(data.value);
                            } else {
                                var index = $.inArray(data.value, TEMP);
                                TEMP.splice(index, 1);
                            }
                        });

                        form.render();
                    });
                }
                $('.J_Page').html(data.retval.pagination);

                // 重新调整位置
                DialogManager.get('goods').setPosition('center');
            }
        });
    }
</script>