{include file="install.header.html"}
<div id="main" class="main w clearfix">
  <div class="title">{$lang.start_setup_db}</div>
  <div class="content">
    <div class="agreement2 bgf">
      <div class="text2" id="detail"> </div>
      <div class="accede2 bgf" id="result"></div>
    </div>
    {if $messages}
    <ul class="messages bgf">
      {foreach from=$messages item=msg}
      <li>{$msg}</li>
      {/foreach}
    </ul>
    {/if}
    <div class="btn-box" style="border: 0;">
      <form action="{url route='default/create'}" method="POST" target="target">
        {foreach from=$hiddens item=hv key=hk}
        <input type="hidden" name="{$hk}" value="{$hv}" />
        {/foreach}
        <input class="btn-normal" type="button" id="prev_button" value="{$lang.prev}" onclick="window.history.go(-1);"
          disabled="disabled" />
        <input class="btn-normal ml10" type="submit" id="submit_button" value="{$lang.next}" onclick="redirect()"
          disabled="disabled" />
      </form>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  $(function () {
    layer.msg('正在创建表...', { time: 80000 });
    $('form').attr('target', 'target').submit();
  });
  function show_process(html) {
    $('#detail').html($('#detail').html() + html);
    var _t = $('#detail').get(0);
    _t.scrollTop = _t.scrollHeight;
  }
  function install_successed() {
    layer.close(layer.index);
    $('.current').attr('class', 'succeed');
    $('.last').attr('class', 'current');
    $('#submit_button').prop('disabled', false).show();
  }
  function show_message(text) {
    $('#result').html('<div class="success">' + text + '</div>').show();
  }
  function show_warning(text) {
    $('#prev_button').prop('disabled', false);
    $('#result').html('<div class="warning">' + text + '</div>').show();
  }
  function redirect() {
    layer.msg('请稍后...', { time: 80000 });
    window.location.href = "{url route='default/initdata'}";
    $('#submit_button').prop('disabled', true);
  }
</script>
<iframe src="about:blank" style="width:500px; height:300px;display:none;" name="target"></iframe>
{include file="install.footer.html"}