{include file="header.html"}
<div id="main">
	<div class="w bgp mt20">
		<h2 class="center bold f-18 mt20 pt20 pb20">源码编译部署</h2>
		<div class="bgf round-edge pd10 mt20">
			<div class="pd10">
				<p>请将PC端的VUE源码编译后的代码上传至目录：public/pc/ 目录下，把H5端（UNIAPP）源码编译后上传至 public/h5/ 目录下。</p>
				<div class="l-h25">
					<h4 class="mt10 mb5 f-gray">可参考文档：</h4>
					<p>
						<span class="f-gray">PC端VUE编译：</span>
						<a class="f-blue"
							href="https://www.shopwind.net/manual/v4/180.html">https://www.shopwind.net/manual/v4/180.html</a>
					</p>
					<p>
						<span class="f-gray">H5端UNIAPP编译：</span>
						<a class="f-blue"
							href="https://www.shopwind.net/manual/v4/181.html">https://www.shopwind.net/manual/v4/181.html</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="footer.html"}